/*body{
	margin: 20px 20px;
	
}*/
/*
.real{
	width: 800px;
	height: 1500px;
	border: 2px solid black;
	margin: 0px auto;

}*/
.ok{
	width: 200px;
	height: 25px;
	background-color: #0fb1b9;
	border-radius: 18px;
	padding: 5px;
	text-align: center;
	float: left;
	margin-right: 15px;

}
p{

}
.foto img{
	width: 400px;
	height: 400px;
	margin-right: 20px;
	margin-bottom: 50px;
	border: 3px solid #0fb1b9;
	/*box-shadow: 5px 5px 5px #0fb1b9;*/
	float: left;

}

.web{
    text-align: center;
    color: #ff3300;
	margin-bottom: 400px;
	font-size: 20px;
	font-weight: bold;


}
.utup{
	width: 200px;
	height: 25px;
	background-color: #ff3300;
	border-radius: 18px;
	padding: 5px;
	text-align: center;
	
}
.utup a{
	text-decoration: none;	
	color: black;
}
.precontent1{
	position: relative;
	padding: 50px;
	height: 300px;
}
.text3{
	position: absolute;
	left: 500px;
	font-size: 27px;
	color: #0fb1b9;
	font-family: 'Poppins', sans-serif;

}
.text4{
	position: absolute;
	left: 480px;
	top: 45px;
	text-align: center;
	font-size: 70px;
	letter-spacing: -6px;
	font-weight: bold;
	font-family: sans-serif;
}
.text5{
	position: absolute;
	left: 20px;
	top: 270px;
	font-size: 20px;
	color: #504e4e;
}
.maincontent{
	position: relative;
}
.maincontent img{
	height: 270px;
	width: 250px;
	float: left;
	margin: 5px 30px 5px 0px;
	border-radius: 20px;
}
.maincontent span, h2 {
	color: #16695d;
	font-weight: bold;
}
.kojokelen, .karakoi, .abshyr-ata, .arslanbap, .izumrudnoe-ozero, .sonkel, .sary-chelek{
	position: absolute;
	height: 350px;
	width: 560px;
	box-shadow: 0 0 5px #000;
	border-radius: 20px;
	padding: 8px;
	font-family: 'Poppins', sans-serif;
}
.kojokelen{
	left: 50px;
	font-size: 17px;
	line-height: 17px;
}
.list{
	list-style: none;
}	
.karakoi{
	right: 50px;	
}
.abshyr-ata{
	left: 50px;
	top: 400px;
}
.arslanbap{
	right: 50px;
	top: 400px;
}
.izumrudnoe-ozero{
	left: 50px;
	top: 800px;	
}
.sonkel{
	right: 50px;
	top: 800px;
}
.sary-chelek{
	top:1200px;
	left: 370px;
	height: 600px;
}
.sary-chelek  .day2{
	margin: 0px 0px 0px 20px;
}
.extra_content{
	position: relative;
	top:1850px;
	height: 350px;
	border: 1px dotted #16695d;
	background-color: #272828;
	
}
.extra_content img
{
	height: 70px;
	width: 180px;
}
.logo-footer{
	position: absolute;
	left: 150px;
	top: 100px;
}
.div1{
	 position: absolute;
	left: 480px;
	top: 100px;
	height: 200px;
	width: 240px;
	

}
.div2{
	position: absolute;
	left: 760px;
	top: 100px;
	height: 200px;
	width: 200px;
}
.div3{
	position: absolute;
	left: 1000px;
	top: 100px;
	height: 200px;
	width: 200px;
}
.div1, .div2, .div3{
	color: white;
}

.div1 li, .div2 li, .div3 ul{
	list-style: none;
}
.extra_content div p{
	font-family: 'Poppins', sans-serif;
	font-style: 22px;
}
.foottext{
	position: absolute;
	left: 500px;
	bottom: 0px;
	color: #8a8989;
}
.icons ul li img{
	height: 50px;
	width: 50px;
}
.active, .horizontal_menu ul li:hover
{
	background:
	border-radius: 3px;
}
.sub-menu-1
{
	

}
.horizontal_menu ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background:
	margin-top:15px; 
	margin-left:-15px;

}
.horizontal_menu ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 10px;
}